<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<hooks>
			<hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
				<patch:delete/>
			</hook>
		</hooks>
		<settings>
			<setting name="Counters.Enabled" set:value="false" />
			
			<!-- Only recommended for 64-bit environments -->
			<setting name="Caching.DisableCacheSizeLimits" value="true"/>
			
			  <!--  WEBDAV FEATURE ENABLED
            Determines if WebDAV feature should be enabled at all.
            Specify 'true' to enable WebDAV and 'false' to disable the feature.
            Default value: true
			-->
			<setting name="WebDAV.Enabled" set:value="false"/>
						
			<!-- ENABLE BUCKET SPECIFIC DEBUG IN LOGS
				   If enabled, every query is written to the log file. Only have this turned on while you are debugging, switch it off in your production environment.
			-->
			<setting name="BucketConfiguration.EnableBucketDebug" set:value="false"/>
		</settings>
	</sitecore>
</configuration>
